<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sys.sys02">
	<!-- 메뉴 목록 조회 -->
	<select id="mainList" parameterType="map" resultType="box">
        SELECT PROG_ID  ORG_PROG_ID
             , PROG_ID
             , PROG_NM
             , PROG_DIV  -- F:Folder, P:Program
             , IF(PROG_DIV='F','Y','N')  PROG_DIV01
             , IF(PROG_DIV='P','Y','N')  PROG_DIV02
             , PROG_URL
             , UP_PROG_ID
             , IFNULL(UP_PROG_ID,PROG_ID)  PROG_GUBUN
             , SORT
          FROM TB_PROG 
         ORDER BY SORT
	</select>
	
	<!-- 메뉴목록정보 수정 -->
	<update id="insertData" parameterType="map">
		/* PID : sys.sys02.insertData */
        INSERT INTO TB_PROG( PROG_ID
                           , PROG_NM
                           , PROG_DIV
                           , PROG_URL
                           , UP_PROG_ID
                           , SORT
                           , REG_ID
                           , REG_TIME
                           , UPD_ID
                           , UPD_TIME
                           )
                     VALUES( TRIM(#{progId})
                           , TRIM(#{progNm})
                           , TRIM(#{progDiv})
                           , TRIM(#{progUrl})
                           , TRIM(#{upProgId})
                           , #{sort}
                           , #{loginId}
                           , NOW()
                           , #{loginId}
                           , NOW()
                           )
	</update>
	

	<!-- 메뉴목록정보 수정 -->
	<update id="updateData" parameterType="map">
		/* PID : sys.sys02.updateData */
        UPDATE TB_PROG
           SET PROG_ID    = TRIM(#{progId})
             , PROG_NM    = TRIM(#{progNm})
             , PROG_DIV   = TRIM(#{progDiv})
             , PROG_URL   = TRIM(#{progUrl})
             , UP_PROG_ID = TRIM(#{upProgId})
             , SORT       = #{sort}
             , UPD_ID     = #{loginId}
             , UPD_TIME   = NOW()
         WHERE PROG_ID    = #{orgProgId}
	</update>
	
	<!-- 메뉴목록정보 수정 -->
	<delete id="deleteData" parameterType="map">
		/* PID : sys.sys02.deleteData */
        DELETE FROM TB_PROG WHERE PROG_ID = #{orgProgId}
	</delete>
	
</mapper>