<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>configuration properties</comment>
    
    <!-- Session Configuration -->
    <entry key="session.timeout">120</entry>
    <entry key="session.timeout.manual">Y</entry>
    
    <!-- Database -->
    <entry key="db.driver">oracle.jdbc.driver.OracleDriver</entry>
	<entry key="db.url">RImfzPawM6JryHqKGuRqzbm7ZyN9n48cjb53lRZ6JrbYFArQi9OEa3VuAMj2hIw3Qmch+Jk3KdLeBZFPYt19WMPjbzRd7Ogdr8m+jR2iOqO8kVJeBv9BxQ/eAo7XBr5CwcarUcFNTTj94GO8iPIxIQ==</entry>
    <entry key="db.username">J551ojhVGISHUb5gibCAwQ==</entry>
    <entry key="db.password">7hM+BiM2fub7r3ehuAYciA==</entry>
    <entry key="db.maxActive">4</entry>
    <entry key="db.maxIdle">4</entry>
    
    <!-- AES -->
    <entry key="aes.key">bGtwcGFydG5lcnMjMjAxNw==</entry>
    
</properties>